<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Code">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Styles -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-color/1.8.0/open-color.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ '/assets/js/preload.js' | relative_url }}"></script>

  <!-- Title -->
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <!-- Custom -->
  {% include custom-head.html %}
</head>
